
        h1 {
            color: rgb(0, 0, 0);
            background-color: rgb(17, 141, 179);
            border : 5px solid black;
            text-align: center;
        }

        p {
            color: rgb(0, 0, 0);
            font-size: 60px;
            line-height: 2;
            text-align: center;
            background-color: rgb(255, 228, 196);
        }

        button {
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            display: block;
            margin: 0 auto;
            border-radius: 22%;
        }

        .texto{
            background-color: bisque;
        }




        

