
    .fluminense {
        font-size: 60px;
        color: #ffffff;
        text-align: center;
        margin-top: 22%;
        background: radial-gradient(circle, rgb(13, 79, 35), rgb(150, 50, 50));
    }
