h1 {
    color: rgb(100, 85, 85);
    background-color: rgb(68, 25, 109);
    width: 32%;
    text-align: center;
}

span {
    color: rgb(0, 0, 0);
}

h2 {
    color: rgb(25, 99, 168);
    background-color: cornflowerblue;
    width: 32%;
}

h3 {
    color: bisque;
    background-color: brown;
    text-align: center;
    width: 32%;
}

h4 {
    color: rgb(20, 109, 9);
    background-color: rgb(98, 173, 24);
    text-align: center;
    width: 32%;
}

h5 {
    color: darkgoldenrod;
    background-color: rgb(116, 92, 49);
}

h6 {
    color: darkslategray;
    background-color: burlywood;
}